<h3>Hello, AskDjango.</h3>

<table class="table table-borderd table-hover"


        {% for post in post_list %}
            <li>
            <a href="{% url "blog:post_detail" post.pk %}">

                {{ post.title }}
            </a>

            </li>

        {%  endfor %}

</table>


{% if is_paginated %}

     {% if page_obj.has_previous %}
     		<a href="?page={{ page_obj.previous_page_number }}">이전</a>
     {% endif %}

     {{ page_obj.number }}페이지

     {% if page_obj.has_next %}
    		 <a href="?page={{ page_obj.next_page_number }}">다음</a>
     {% endif %}
{% endif %}
